.faq{
    padding: 5rem;
    background: #fff;
}
summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 1rem;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
  }
  details > summary::after {
    position: absolute;
    content: "+";
    right: 20px;
  }
  details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 20px;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  .faq_content{
      margin-left: -1rem;
      margin-bottom: 1rem;
  }
  @keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
  }